<div class="w-50 mx-auto my-5" th:fragment="login">
<form>
  <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
  <div class="form-floating">
    <input type="email" class="form-control my-2" id="floatingInput" placeholder="name@example.com">
    <label for="floatingInput">Email address</label>
  </div>
  <div class="form-floating">
    <input type="password" class="form-control my-2" id="floatingPassword" placeholder="Password">
    <label for="floatingPassword">Password</label>
  </div>

  <div class="checkbox mb-3">
    <label>
      <input type="checkbox" value="remember-me"> Remember me
    </label>
  </div>
  <button class="w-50 btn mx-auto btn-info btn-lg my-2" type="submit">Sign in</button>
  <button class="w-50 btn mx-auto btn-secondary btn-lg my-2" type="submit">Forgot password</button>
</form>
</div>