<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title th:text="${title}">Bug Tracker</title>
<!-- Bootstrap CSS -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.0-alpha3/dist/css/bootstrap.min.css}">

</head>
<!-- Custom Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Work+Sans:wght@400;500;700&display=swap" rel="stylesheet">
<!-- Custom CSS -->
    <link th:rel="stylesheet" th:href="@{/css/style.css}">
<!--  Bootstrap JS  -->
    <script th:src="@{/webjars/bootstrap/5.3.0-alpha3/dist/js/bootstrap.bundle.min.js}"></script>
<!-- htmx -->
    <script th:src="@{/webjars/htmx.org/1.9.0/dist/htmx.min.js}"></script>
</head>
<body>
<main th:fragment="content">
    <!-- Main content area, to be overridden by child templates -->
</main>
</body>
</html>